<nav class="navbar navbar-expand-sm bg-warning navbar-light">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/Portfolio">Portfolio</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" routerLink="/Employee_Project">Employee-Project</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/Machine_Test">Machine-Test</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/StudentApp">StudentApp</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/Signup_login">SignUp-LogIn</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/addUser">Add-User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/todoApp">Todo_App</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/logIn">Login Page</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/movieTicket">Movie-Ticket</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/productBill">Product-Bill</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/candidature">Candidature</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/VideoPlaylist">V_Playlist</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/ClientWithoutService">Client_Without_Serv</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/ClientWithService">Client_With-Serv</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/ClientLocalStorage">Client_LocalStorage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/ClientReactiveFormLocalStorage">Client-ReactiveForm-LocalStorage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/cpmnyData">CompanyData</a>
        </li>
      </ul>
    </div>
  </nav>
  <div>
    <router-outlet></router-outlet>
  </div>
